In [1]:
person = {
    "first": "Hammadoon",
    "last": "Issa",
    "email": "hammadoon.sss@gmail.com"
}

In [2]:
people = {
    "first": ["Hammadoon"],
    "last": ["Issa"],
    "email": ["hammadoon.sss@gmail.com"]
}

In [3]:
people_group = {
    "first": ["Hammadoon", "Ben", "Gon", "Jane","John" ],
    "last": ["Issa", "Ten", "Freecs", "Doe", "Doe"],
    "email": ["hammadoon.sss@gmail.com", "ben10@email.com", "gon.freecs@gmail.com", "janedoe@email.com", "johndoe@email.com"]
}

In [4]:
person

{'first': 'Hammadoon', 'last': 'Issa', 'email': 'hammadoon.sss@gmail.com'}

In [5]:
people

{'first': ['Hammadoon'],
 'last': ['Issa'],
 'email': ['hammadoon.sss@gmail.com']}

In [6]:
people_group

{'first': ['Hammadoon', 'Ben', 'Gon', 'Jane', 'John'],
 'last': ['Issa', 'Ten', 'Freecs', 'Doe', 'Doe'],
 'email': ['hammadoon.sss@gmail.com',
  'ben10@email.com',
  'gon.freecs@gmail.com',
  'janedoe@email.com',
  'johndoe@email.com']}

In [7]:
people_group['email']

['hammadoon.sss@gmail.com',
 'ben10@email.com',
 'gon.freecs@gmail.com',
 'janedoe@email.com',
 'johndoe@email.com']

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people_group)

In [10]:
df

       first    last                    email
0  Hammadoon    Issa  hammadoon.sss@gmail.com
1        Ben     Ten          ben10@email.com
2        Gon  Freecs     gon.freecs@gmail.com
3       Jane     Doe        janedoe@email.com
4       John     Doe        johndoe@email.com

In [11]:
df['email']

0    hammadoon.sss@gmail.com
1            ben10@email.com
2       gon.freecs@gmail.com
3          janedoe@email.com
4          johndoe@email.com
Name: email, dtype: object

In [12]:
df[['last', 'email']]

     last                    email
0    Issa  hammadoon.sss@gmail.com
1     Ten          ben10@email.com
2  Freecs     gon.freecs@gmail.com
3     Doe        janedoe@email.com
4     Doe        johndoe@email.com

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
df.iloc[0]

first                  Hammadoon
last                        Issa
email    hammadoon.sss@gmail.com
Name: 0, dtype: object

In [15]:
df.iloc[[0,2]]

       first    last                    email
0  Hammadoon    Issa  hammadoon.sss@gmail.com
2        Gon  Freecs     gon.freecs@gmail.com

In [16]:
df.iloc[[0,1], 2]

0    hammadoon.sss@gmail.com
1            ben10@email.com
Name: email, dtype: object

In [17]:
df

       first    last                    email
0  Hammadoon    Issa  hammadoon.sss@gmail.com
1        Ben     Ten          ben10@email.com
2        Gon  Freecs     gon.freecs@gmail.com
3       Jane     Doe        janedoe@email.com
4       John     Doe        johndoe@email.com

In [18]:
df.loc[0]

first                  Hammadoon
last                        Issa
email    hammadoon.sss@gmail.com
Name: 0, dtype: object

In [19]:
df.loc[[0,1]]

       first  last                    email
0  Hammadoon  Issa  hammadoon.sss@gmail.com
1        Ben   Ten          ben10@email.com

In [20]:
df.loc[[0,1], 'email']

0    hammadoon.sss@gmail.com
1            ben10@email.com
Name: email, dtype: object

In [21]:
df.loc[[0,2], ['email', 'last']]

                     email    last
0  hammadoon.sss@gmail.com    Issa
2     gon.freecs@gmail.com  Freecs

In [22]:
df

       first    last                    email
0  Hammadoon    Issa  hammadoon.sss@gmail.com
1        Ben     Ten          ben10@email.com
2        Gon  Freecs     gon.freecs@gmail.com
3       Jane     Doe        janedoe@email.com
4       John     Doe        johndoe@email.com

In [23]:
df.set_index('email')

                             first    last
email
hammadoon.sss@gmail.com  Hammadoon    Issa
ben10@email.com                Ben     Ten
gon.freecs@gmail.com           Gon  Freecs
janedoe@email.com             Jane     Doe
johndoe@email.com             John     Doe

In [24]:
df

       first    last                    email
0  Hammadoon    Issa  hammadoon.sss@gmail.com
1        Ben     Ten          ben10@email.com
2        Gon  Freecs     gon.freecs@gmail.com
3       Jane     Doe        janedoe@email.com
4       John     Doe        johndoe@email.com

In [25]:
#  Set index to particular label(column)
df.set_index('email', inplace=True)
df

                             first    last
email
hammadoon.sss@gmail.com  Hammadoon    Issa
ben10@email.com                Ben     Ten
gon.freecs@gmail.com           Gon  Freecs
janedoe@email.com             Jane     Doe
johndoe@email.com             John     Doe

In [26]:
df.index

Index(['hammadoon.sss@gmail.com', 'ben10@email.com', 'gon.freecs@gmail.com',
       'janedoe@email.com', 'johndoe@email.com'],
      dtype='object', name='email')

In [27]:
df.loc['hammadoon.sss@gmail.com']

first    Hammadoon
last          Issa
Name: hammadoon.sss@gmail.com, dtype: object

In [28]:
df.loc['hammadoon.sss@gmail.com', 'last']

'Issa'

In [29]:
# df.loc[0]
# it is not working because the index has changed to email
df.iloc[0]
# it still work

first    Hammadoon
last          Issa
Name: hammadoon.sss@gmail.com, dtype: object

In [30]:
# Reset index to original Value
df.reset_index(inplace=True)
df

                     email      first    last
0  hammadoon.sss@gmail.com  Hammadoon    Issa
1          ben10@email.com        Ben     Ten
2     gon.freecs@gmail.com        Gon  Freecs
3        janedoe@email.com       Jane     Doe
4        johndoe@email.com       John     Doe

In [31]:
# filter dataframe 
filt = (df['last'] == 'Doe')

In [32]:
# .loc is used to get column with specific filter 
# first value is/are the row(s) we want && second value is/are the column(s) we want
df.loc[filt, 'email']

3    janedoe@email.com
4    johndoe@email.com
Name: email, dtype: object

In [33]:
# Filter based on AND(&) operator
filt2 = (df['last'] =='Doe') & (df['first'] == 'John')

In [34]:
df.loc[filt2, 'email']

4    johndoe@email.com
Name: email, dtype: object

In [35]:
# Filter based on OR(|) operator
filt3 = (df['last'] =='Issa') | (df['first'] == 'Gon')

In [36]:
df.loc[filt3, 'email']

0    hammadoon.sss@gmail.com
2       gon.freecs@gmail.com
Name: email, dtype: object

In [38]:
# NOT of above OR operator: opposite
df.loc[~filt3, 'email']

1      ben10@email.com
3    janedoe@email.com
4    johndoe@email.com
Name: email, dtype: object